$uconn-blue: #000e2f;
$uconn-white: #fff;
$light-grey: #ccc;

$font-sans: 'Proxima Nova', Verdana, Arial, Helvetica, sans-serif;

$font-weight-bold: 600;

$small: 340px;
$medium-small: 425px;
$medium: 768px;
$medium-large: 992px;
$large: 1200px;
$x-large: 1440px;