// import .scss files here.
@import 'typography/typography';
@import 'config/config';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';


* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.screen-reader {
    position: absolute;
    left: -9999px;
    &:focus {
        left: 0;
    }
}