.footer-widget-wrap {
  background-color: #ebebeb;
  border-top: 1px solid $light-grey;
  color: $uconn-blue;
  font-family: $font-sans;
  font-size: 1rem;
  font-weight: $font-weight-bold;
  padding: 2.1875rem 0;
  a {
    font-weight: $font-weight-bold;
  }
  .wordmark {
    max-width: 17.75rem;
  }
  img {
    width: 100%;
  }
}

.footer-widget-bottom-wrap {
  background-color: #000615;
  border-top: 1px solid #000615;
  color: $light-grey;
  font-family: $font-sans;
  font-size: 0.75rem;
  padding: 1.5625rem 0;
  ul {
    list-style-type: none;
    padding: 0;
  }
  a {
    color: $light-grey;
    text-decoration: none;
    &:hover,
    &:focus {
      color: $uconn-white;
      text-decoration: underline;
    }
  }
}

.footer-widget-container,
.footer-widget-bottom-container {
  margin: 0 auto;
  max-width: $large;
  padding: 0 20px;
}

.footer-widget-container {
  font-size: 0.9rem;
  &:after {
    content: '';
    clear: both; 
    display: block;
  }
  .widget {
    display: flex;
    float: left;
    justify-content: flex-start;
    width: 25%;
    > div {
      padding-right: 3rem;
      max-width: 100%;
      &:first-child {
        padding-left: 0;
      }
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  a:first-child {
    color: $uconn-blue;
    text-decoration: none;
  }
  @media screen and (min-width: $medium) {
    .widget {
      > div {
        padding: 1rem;
      }
      + .widget {
        > div {
          padding: 0 1rem;
        }
      }
    }
  }
}


@supports (display: grid) {
  .footer-widget-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    &:after {
      display: none;
    }
    .widget {
      float: none;
      width: inherit;
    }
  }
  @media screen and (min-width: $medium-large) {
    .widget {
      justify-content: center;
    }
    .widget:not(:first-child):not(:last-child) {
      border-right: 1px solid $light-grey;
    }
  }
}