%header-bg {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 3.75rem;
  z-index: -1;
}

header {
  position: relative;
}

.header-grid {
  margin: 0 auto;
  max-width: $large;
  padding: 0 1rem;
}


.main-site {

  header {
    &:before {
      @extend %header-bg;
      background-image: linear-gradient(180deg, #fff, #ebebeb);
      border: 1px solid $light-grey;
    }
  }


  .top-bar-logo-wrap {
    float: left;
    transform: translateY(-2rem) scale(0.6);
    transition: transform 1s ease-in-out;
    will-change: transform;
    // .health-top-bar-logo-link {
      // padding: 1.36rem 1.83rem;
    // }
    // img {
    //   height: 48.75px;
    // }
    // @media screen and (min-width: $large) {

    // }
  }

  #top-bar-logo-vertical {
    display: none;
  }

  #top-bar-logo-horizontal {
    display: block;
  }

  @media screen and (min-width: $medium) {
    .health-top-bar-logo-link {
      background-color: $uconn-blue;
      display: block;
      padding: 2.625rem 2.8125rem;
    }

    #top-bar-logo-vertical {
      display: block;
    }

    #top-bar-logo-horizontal {
      display: none;
    }
  }
  @media screen and (min-width: $large) {
    .top-bar-logo-wrap {
      transform: translateY(0) scale(1);    
    }
  }
}

.clinical-site {
  .health-top-bar-wrap {
    background-color: $uconn-blue;
    border-bottom: 1px solid $light-grey;
  }
}

.top-links-wrap {
  display: none;
  a {
    color: $uconn-blue;
    font-family: $font-sans;
    font-size: 12px;
    text-decoration: none;
  }
  .health-top-bar-btn {
    padding: 10px;
    border-radius: 6px;
    background-color: #bbb;
    border: 1px solid #959595;
    + .health-top-bar-btn {
      margin-left: 0.625rem;
    }
  }
  @media screen and (min-width: $medium-large) {
    display: block;
    float: right;
    padding-top: 1rem;
  }
}

.nav-container {
  display: none;
  padding-top: 4rem;
  @media screen and (min-width: $medium-large) {
    display: block;
  }
}

@supports (display: grid) {
  .header-grid {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    grid-template-rows: 3.75rem repeat(2, auto);
  }

  .top-bar-logo-wrap {
    display: block; 
    float: none;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
  }

  .top-links-wrap {
    display: none;
  }
  
  .nav-container {
    display: none;
  }
  
  @media screen and (min-width: $medium-large) {
    .top-links-wrap {
      align-items: center;
      display: flex;
      grid-column: 4 / 5;
      padding-top: inherit;
    }
    .nav-container {
      display: block;
      grid-column: 2 / -1;
      grid-row: 2 / 3;
      padding-top: inherit;
    }
  }
}
